@font-face{
	font-family: "OpenDyslexic";
	src: url(../fonts/OpenDyslexic-Regular.otf) format('opentype');
	font-display: auto;
}

@font-face{
    font-family: "DejaVu Sans";
    src: url(../fonts/DejaVuSans.tff) format('truetype');
    font-display: auto;
}

@font-face{
	font-family: "Futura";
	src: url(../fonts/Futura.tff) format('truetype');
	font-display: auto;
}

@font-face{
	font-family: "ComicNeue";
	src: url(../fonts/ComicNeue/ComicNeue-Regular.woff) format('woff');
	font-display: auto;
}

.body-normal{
	color: #182964;
	background-color: #E08AA6;
}

.body-colorblind {
	color: black;
	background-color: white;
}

p {
	font-family: "Arial";
}

input {
  border: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

#dyslexic-mode{
	border: none;
	font-family:  "ComicNeue";
	/*font-family: "OpenDyslexic";*/
	/*
	color: #182964;
	background-color: #E08AA6;
	*/
	color: white;
	background-color: black;
  /*-ms-font-family: "ComicNeue";*/
  /*background-color: white;*/
}

#dyslexic-mode:hover{
  font-family: "OpenDyslexic";
  font-size: 24px;
}

#color-blind{
  color: white;
  border: none;
  font-family: "Comic Neue";
  background-color: black;
}

#color-blind:hover{
  background-color: #343434;
}

.normal{
    font-family: "Arial";
	-moz-font-family: "Arial";
    -ms-font-family: "Arial";
    /*font-family: "DejaVu Sans Mono";*/
    -webkit-font-family: "Arial";
    /*-o-font-family: "Comic Neue";*/
    /*-moz-font-family: "Courier", Courier, monospace;*/
    
}

.dyslex{
	font-family: "OpenDyslexic";
	-moz-font-family: "OpenDyslexic";
	-ms-font-family: "OpenDyslexic";
    -webkit-font-family: "OpenDyslexic";
	/*font-style: bold;
    font-size: 60px;*/
}


div.profile {
  align-self: center;
  text-align: center;
  font-family: "Arial";
  /*font-family: "DejaVu Sans Mono";*/
  -ms-font-family: "DejaVu Sans";
  -moz-font-family: "DejaVu Sans";
  font-size: 24px;
  font-style: bold;
}

img.profile{
  align-self: center;
    width:320px;
    /*max-width: 30%;*/
    filter:grayscale(100%);
}

ul {
  font-family: "Arial";
  overflow: hidden;
}


ul#menu li {
	display: inline;
	text-align: center;
  padding: 12px;
  text-decoration: none;
}

li {
  float: center;
}

a {
	text-decoration: none;
}

/*
li a {
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}*/

.fade-in{
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
